@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');



html {
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body {
    color: #d6d6d6;
	text-decoration: none;
	line-height: 30px;
	font-family: 'Nunito Sans','Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 500;
	text-indent: 0px;
	padding-right: 5px;
	background-color: #f0f0f0;
	border: solid 0px #ccc;
	border-radius: 1px;
	background-image: linear-gradient(to top, #645d59, #0d0d0d);
/*    background: url("../images/rain_monochromatic.jpg");*/
    
    margin: 0;
}
h1, h2, h3 {
    font-family:"Nunito Sans",Helvetica,Tahoma,Arial,sans-serif;
    color: ghostwhite;
}

h1 {
    font-family: 'Nunito Sans', sans-serif; 
}


.hidden {
    position:absolute;
    left:-10000px;
    width:1px;
    height:1px;
}

.page-container {
    max-width: 1200px;
    margin:0 auto;
}

#header {
    background: url('../images/background.jpg');
/*    border-bottom:2px solid #000;*/
    width:auto;
    height: 500px;
}

.column-middle {
/*    border:1px dashed yellow;*/
    width:70%; /* 50% - 1% - 1% */ 
    display:inline-block;
    margin-left:2%;
    margin-right:2%;
    margin-bottom:1em;
    padding:1em;
}

main#main {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}
.column-left, .column-right {
/*  border:1px dashed orange;*/
    width:13%; /* 25% - 1% */
    padding:0.5em;
}
.column-left {
    float:left;
    margin-top: 80px;
    margin-bottom:1em;
}
.column-right {
    float:right;
    margin-top: 50px;
    margin-bottom:1em;
}
#footer {
    clear: both;
}


img {
    max-width:100%;
    height:auto;
}
img.image-main {
    border: solid #cacaca 0px;
}
img.image-main.curve {
    max-width:49%;
    max-height: 350px;
}
img.image-main.roads {
    max-width:100%;
}
img.image-main.budha {
    max-height: 500px;
}
img.image-main.similar_photos {
/*    max-width:20%;*/
    max-height: 120px;
    border: 0px
}


/*
 Create three unequal columns that floats next to each other 
.column {
    float: left;
    padding: 10px;
}

.left {
    width: 20%;
}

.middle {
    width: 50%;
}

.right {
    width: 20%;
}
*/
/*
.column.middle{
    float: left;
    width: 48%;
    
}


.column.left{
    float: left;
    width: 24%;
    
}

.column.right{
    float: right;
    width: 24%;
}
*/


/*
 Clear floats after the columns 
.row:after {
    content: "";
    display: table;
    clear: both;
}
*/
/* Style links */



#header a {
    text-decoration:none;
    color: white;
    font-size: 1.75em;
    letter-spacing: 2px;
    margin: 10px 10px 10px 10px;
    padding-top: 10px;
}
#header h3 {
    color: darkgrey;
}
#header li {
    font-size: 0.7em;
}
.menu {
    padding: 0;
    border: 0;
    margin: 1px;
    text-align: center;
    font-family: "Nunito Sans";
}
#main-menu ul li {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

#main-menu li li {
    display: block;
    padding: 0.5em 1em;
}

.submenu {
    padding: 0;
}

#main-menu ul ul {
    position: absolute;
    background-color: #141414;
    left: -10000px;
    width: 1px;
    height: 1px;
}

#main-menu li:hover > ul {
    left: 0;
    width: auto;
    height: auto;
}

#site-name {
    font-size:1.75em;
    font-weight:bolder;
    padding: 400px 0px 0px 0px;
    letter-spacing:1px;
}
#main-menu a {
    font-weight: bold;
}
#main-menu a,
#main-menu a:link,
#main-menu a:visited,
#main-menu a:active {
    color:#d6d6d6;
}
#main-menu a:hover {
    color:dimgrey;
    text-decoration:none;
}

#sidebar-right a {
    color: dimgrey;
    display: block;
    font-weight: bolder;
    text-decoration: none;
}

.right_sidebar_list li a {
    margin: 0px;
    display: block;
    width: 100%;
    height: 200%; }


#sidebar-right a:hover {
    color: #d6d6d6;
}

.sidebar {
    font-size:0.95em;
}
/* select h2 which is a descendant of .sidebar */

#test-title {
    font-size:1.5em;
}

/*for the form*/
input[type=text] {
    width: 100%;
    padding: 5px 5px;
    margin: 2px;
    box-sizing: border-box;
    margin-bottom: 5px;
}
input[type=email] {
    width: 100%;
    padding: 5px 5px;
    margin: 2px;
    box-sizing: border-box;
    margin-bottom: 5px;
}
textarea {
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
    
}


h2#site-name {
    margin: 0;
    text-align: center;
}

ul.menu {
    padding-top: 30px;
}

a {
    border: 0px;
    margin: 5px;
}

img.social-media.icons {
    max-width: 50%;
}

.social-media-icons {
    list-style-type: none;
}
.social-media-icons a:hover {
    filter: invert(0.5);
}

#sidebar-right h2 {
    font-size: 1.5em;
    color: dimgrey;
}

.right_sidebar_list {
    list-style-type: none;
    padding: 0px 0px 0px 0px;
}

.right_sidebar_list img {
    width:100%;
}

/*
li{
    border: solid 1px orange;
}
*/

