htmll{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body {
    color: #474747;
	text-decoration: none;
	display: inline-block;
	line-height: 30px;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 500;
	text-indent: 0px;
	position: relative;
	padding-right: 5px;
	background-color: #f0f0f0;
	border: solid 1px #ccc;
	height: 0px;
	box-sizing: content-box;
	border-radius: 5px;
	background-image: linear-gradient(to top, #dfdfdf, #adadac);
    margin: auto;
}
h1, h2, h3 {
    font-family:"Helvetica Neue",Helvetica,Tahoma,Arial,sans-serif;
}

a, a:link {
    color:blue;
}
a:visited {
    color:red;
}
a:hover {
    color:#555;
}
a:active {
    color:cyan;
}

.hidden {
  position:absolute;
  left:-10000px;
  width:1px;
  height:1px;
}

.page-container{
    max-width: 1200px;
    margin:0 auto;
}

#header {
    /*  background: url('https://live.staticflickr.com/2907/14134296187_9fa0b9382a_c_d.jpg');*/
    background: url('../images/background.jpg');
    border-bottom:2px solid #000;
    width:auto;
    height: 500px;
}

#main{
    border:1px dashed yellow;
    width:48%; /* 50% - 1% - 1% */ 
    display:inline-block;
    margin-left:2%;
    margin-right:2%;
    margin-bottom:1em;
    padding:1em;
}

main#main{
    margin: 0px 0px 0px 0px;
    padding: 5px;
}
#sidebar-left, #sidebar-right {
  border:1px dashed orange;
  width:10%; /* 25% - 1% */
  padding:0.5em;
}
#sidebar-left {
  float:left;
  margin-bottom:1em;
}
#sidebar-right {
  float:right;
  margin-bottom:1em;
}

#footer{
    clear: both;
}


img {
    max-width:100%;
    height:auto;
}
img.image-main.curve{
    max-width:49%;
}
img.image-main.roads{
    max-width:100%;
}
img.image-main.similar_photos{
    max-width:20%;
}


/*
 Create three unequal columns that floats next to each other 
.column {
    float: left;
    padding: 10px;
}

.left {
    width: 20%;
}

.middle {
    width: 50%;
}

.right {
    width: 20%;
}
*/
/*
.column.middle{
    float: left;
    width: 48%;
    
}


.column.left{
    float: left;
    width: 24%;
    
}

.column.right{
    float: right;
    width: 24%;
}
*/


/*
 Clear floats after the columns 
.row:after {
    content: "";
    display: table;
    clear: both;
}
*/
/* Style links */



#header a {
    text-decoration:none;
    color: white;
    font-size: 1.75em;
    letter-spacing: 2px;
    margin: 10px 10px 10px 10px;
    padding-top: 10px;
}
#header h3{
    color: darkgrey;
}
#header li{
    font-size: 0.7em;
}
.menu{
    padding: 0;
    border: 0;
    margin: 1px;
    text-align: center;
}
#main-menu ul li{
    display: inline;
}
#site-name {
    font-size:1.75em;
    font-weight:bolder;
    padding: 400px 0px 0px 0px;
    letter-spacing:1px;
}
#main-menu a{
    font-weight: bold;
}
#main-menu a,
#main-menu a:link,
#main-menu a:visited,
#main-menu a:active {
    color:white;
}
#main-menu a:hover {
    color:dimgrey;
    text-decoration:underline;
}

#sidebar-right a{
    color: darkslategray;
    font-weight: bolder;
}

.sidebar {
    font-size:0.95em;
}
/* select h2 which is a descendant of .sidebar */
.sidebar h2 {
    font-style:italic;
}
#test-title {
    font-size:1.5em;
}

/*for the form*/
input[type=text]{
    width: 100%;
    padding: 5px 5px;
    margin: 2px;
    box-sizing: border-box;
    margin-bottom: 5px;
}
textarea{
    width:98%;
    margin: 2px;
    padding: 5px;
    margin-top: 5px;
    
}


h2#site-name{
    margin: 0;
    text-align: center;
}

ul.menu{
    padding-top: 30px;
}

a{
    border: 1px;
    margin: 5px;
}
